<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/basic.html}">

<div layout:fragment="content">
	<head>
		<meta charset="UTF-8">
		<title>게시글 상세 화면</title>
		<link rel="stylesheet" th:href="@{/css/style.css}"/>
	</head>
	<body>
	<div class="container">
		<h2>게시글 상세 화면</h2>
		<form id="frm" method="post">
			<table class="board_detail">
				<colgroup>
					<col width="15%"/>
					<col width="35%"/>
					<col width="15%"/>
					<col width="35%"/>
				</colgroup>
				<caption>게시글 상세내용</caption>
				<tbody>
				<tr>
					<th scope="row">글 번호</th>
					<td th:text="${notice.id }"></td>
					<th scope="row">조회수</th>
					<td th:text="${notice.hitCnt }"></td>
				</tr>
				<tr>
					<th scope="row">작성자</th>
					<td th:text="${notice.creatorId }"></td>
					<th scope="row">작성일</th>
					<td th:text="${notice.createdDatetime }"></td>
				</tr>
				<tr>
					<th scope="row">제목</th>
					<td colspan="3"><input type="text" id="title" name="title" th:value="${notice.title }"/></td>
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{notice.title}" class="alert alert-danger"></span>
				</tr>
				<tr>
					<td colspan="4" class="view_text">
						<textarea title="내용" id="content" name="content" th:text="${notice.content }"></textarea>
                        <span th:if="${#fields.hasErrors('content')}" th:errors="*{notice.content}" class="alert alert-danger"></span>
					</td>
				</tr>
				</tbody>
			</table>
			<input type="hidden" id="id" name="id" th:value="${notice.id }">
		</form>

<!--		<div class="file_list">-->
<!--			<th:block th:each="list : ${board.fileList}">-->
<!--				<p>-->
<!--					<a th:href="@{/board/downloadBoardFile.do(idx=${list.idx}, boardIdx=${list.boardIdx})}" th:text="|${list.originalFileName} (${list.fileSize} kb) [${list.storedFilePath}]|"></a>-->
<!--					<img th:src="${list.storedFilePath}" />-->
<!--				</p>-->
<!--			</th:block>-->
<!--			&lt;!&ndash;			<a th:each="list : ${board.fileList}" th:href="@{/board/downloadBoardFile.do(idx=${list.idx}, boardIdx=${list.boardIdx})}" th:text="|${list.originalFileName} (${list.fileSize} kb)|">&ndash;&gt;-->
<!--			&lt;!&ndash;			</a>&ndash;&gt;-->

<!--		</div>-->

		<a href="#this" id="list" class="btn">목록으로</a>
		<a href="#this" id="edit" class="btn">수정하기</a>
		<a href="#this" id="delete" class="btn">삭제하기</a>
	</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#list").on("click", function(){
                location.href = "/board/boardList";
            });

            $("#edit").on("click", function(){
                var frm = $("#frm")[0];
                frm.action = "/board/updateBoard";
                frm.method = "POST";
                frm.submit(); // CSRF 토큰 없이 바로 폼 제출
            });

            $("#delete").on("click", function(){
                var frm = $("#frm")[0];
                frm.action = "/board/deleteBoard";
                frm.method = "POST";
                frm.submit(); // CSRF 토큰 없이 바로 폼 제출
            });
        });
    </script>
	</body>
</div>
</html>