<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- jQuery 먼저 로드 -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- Popper.js와 Bootstrap 순서로 로드 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <meta charset="UTF-8">
  <title>게시글 상세 화면</title>
  <link rel="stylesheet" th:href="@{/css/boardDetail.css}"/>

</head>

<body onLoad="javascript:pop()">
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<div th:replace="/fragments/header.html :: fragment-header"></div>

<div class="container">
  <h2>게시글 상세 화면</h2>
  <form id="frm" method="post">
    <table class="board_detail">
      <colgroup>
        <col width="15%"/>
        <col width="35%"/>
        <col width="15%"/>
        <col width="35%"/>
      </colgroup>
      <caption>게시글 상세내용</caption>
      <tbody>
      <tr>
        <th scope="row">글 번호</th>
        <td th:text="${review.reviewId }"></td>
        <th scope="row">조회수</th>
        <td th:text="${review.hitCnt }"></td>
      </tr>
      <tr>
        <th scope="row">작성자</th>
        <td th:text="${review.username }"></td>
        <th scope="row">작성일</th>
        <td th:text="${review.createdDatetime }"></td>
      </tr>
      <tr>
      <tr>
        <th scope="row">제목</th>
        <td colspan="3" th:text="${review.title}"></td>
      </tr>
      <tr>
        <td colspan="4" class="view_text"  th:text="${review.contents }">
          <!--						<textarea title="내용" id="contents" name="contents" th:text="${board.contents }"  readonly ></textarea>-->
        </td>
      </tr>
      </tbody>
    </table>
    <input type="hidden" id="reviewId" name="reviewId" th:value="${review.reviewId }">
  </form>

  <!--		<div class="file_list">-->
  <!--			<th:block th:each="list : ${board.fileList}">-->
  <!--				<p>-->
  <!--					<a th:href="@{/board/downloadBoardFile.do(idx=${list.idx}, boardIdx=${list.boardIdx})}" th:text="|${list.originalFileName} (${list.fileSize} kb) [${list.storedFilePath}]|"></a>-->
  <!--					<img th:src="${list.storedFilePath}" />-->
  <!--				</p>-->
  <!--			</th:block>-->
  <!--			&lt;!&ndash;			<a th:each="list : ${board.fileList}" th:href="@{/board/downloadBoardFile.do(idx=${list.idx}, boardIdx=${list.boardIdx})}" th:text="|${list.originalFileName} (${list.fileSize} kb)|">&ndash;&gt;-->
  <!--			&lt;!&ndash;			</a>&ndash;&gt;-->

  <a href="#this" id="list" class="btn">목록으로</a>
  <a href="#this" id="edit" class="btn">수정하기</a>
  <a href="#this" id="delete" class="btn">삭제하기</a>

</div>

<div th:replace="/fragments/footer.html :: fragment-footer"></div>


<script type="text/javascript">
  $(document).ready(function() {

    $("#list").on("click", function() {
      location.href = "/review";
    });

    $("#edit").on("click", function() {
      location.href = "/review/reviewUpdate"
    });

    $("#delete").on("click", function() {

      // 작성자와 같으면 삭제 진행
      var frm = $("#frm")[0];
      frm.action = "/board/deleteBoard";
      var boardIdx = $("#boardIdx").val(); // boardIdx 값을 가져옴
      $('<input>').attr({
        type: 'hidden',
        name: 'boardIdx', // boardIdx를 name으로 지정
        value: boardIdx  // boardIdx 값 넣기
      }).appendTo(frm);
      frm.submit();
    });

  });
</script>
</body>
</html>