<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/main.css">
    <footer th:fragment="fragment-footer" class="footer" >
        <div class="container text-center">
            <p class="mb-2">문의: support@example.com | 전화: 123-456-7890</p>
            <p class="mb-2">
                <a href="#" class="text-dark mx-2">Facebook</a> |
                <a href="#" class="text-dark mx-2">Twitter</a> |
                <a href="#" class="text-dark mx-2">Instagram</a>
            </p>
            <p class="text-muted mb-0">&copy; 2023 Travel Site. All rights reserved.</p>
        </div>
    </footer>
</html>