<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="fragment-nav">
        <header class="d-flex flex-column">
            <div class="header--top">
                <a href="/">
                    <img class="logo" alt="" src="/images/logo.png">여행을 떠나요
                </a>
                <ul>
                    <li class="material--li" th:if="${session.authInfo != null}"><span class="material-symbols-outlined">account_circle</span>
                    <li th:if="${session.authInfo != null}" class="material--li">
                        <a th:href="@{/user/userMain}" >내정보</a>
                    </li>
                    <li th:if="${session.authInfo == null}" class="material--li"><span class="material-symbols-outlined">login</span>
                    <li th:if="${session.authInfo == null}">
                        <a href="/login" >로그인</a>
                    </li>
                    <li style="margin: 0 15px;" th:if="${session.authInfo == null}">ㅣ
                    <li><a href="/register" th:if="${session.authInfo == null}" >회원가입</a>
                    <li style="margin: 0 15px;">ㅣ
                    <li class="material--li" th:if="${session.authInfo != null}" ><span style="color: #9BD2EC;" class="material-symbols-outlined">logout</span>
                    <li th:if="${session.authInfo != null}" ><a href="/logout">로그아웃</a>
                    <li style="margin: 0 15px;" th:if="${session.authInfo != null}">ㅣ
                    <li><a href="/question">고객센터</a></li>
                </ul>
            </div>

            <nav class="main--menu">

                <!-- userRole에 따라 메뉴 다르게 표시 -->
                <ul class="mainmenu_list">
                    <li class="mainmenu_list_inner">
                        <a href="/">
                            <span>홈</span>
                        </a>
<!--                        <ul class="submenu">-->
<!--                            <li class="submenu_inner">-->
<!--                                <a href="/Notice">공지사항</a>-->
<!--                            </li>-->
<!--                            <li class="submenu_inner">-->
<!--                                <a href="#">이벤트</a>-->
<!--                            </li>-->
<!--&lt;!&ndash;                            <li class="submenu_inner">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="#">서브메뉴3</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </li>&ndash;&gt;-->
<!--                        </ul>-->
                    </li>
                    <li class="mainmenu_list_inner">
                        <a href="/trip">
                            <span>국내여행</span>
                        </a>
                    </li>
                    <li class="mainmenu_list_inner">
                        <a href="/transport/transportMain">
                            <span>교통</span>
                        </a>
                    </li>
                    <li class="mainmenu_list_inner">
                        <a href="/stay">
                            <span>숙박</span>
                        </a>
                    </li>

                    <li class="mainmenu_list_inner">
                        <a href="/board/boardList">
                            <span>게시판</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu_inner">
                                <a href="/notice/noticeList">공지 사항</a>
                            </li>
                            <li class="submenu_inner">
                                <a href="/board/boardList">자유 게시판</a>
                            </li>
                            <li class="submenu_inner">
                                <a href="/review/reviewList">리뷰 게시판</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
</html>