<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- Popper.js와 Bootstrap 순서로 로드 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/board.css}" />

  <meta charset="UTF-8">
  <title>Title</title>

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content {
            flex: 1; /* 남는 공간을 차지하여 푸터를 아래로 밀어냄 */
        }

        footer {
            background-color: #f8f9fa;
            padding: 2rem 0;
            border-top: 1px solid #e9ecef;
            text-align: center;
        }
    </style>
</head>
<body onLoad="javascript:pop()">
<div class="wrapper">
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<div th:replace="/fragments/header.html :: fragment-header"></div>
<div class="content container mt-5">
  <div class="row">
    <!-- 왼쪽 메뉴 -->
      <div class="col-md-3">
          <div class="list-group">
              <a class="list-group-item list-group-item-action" th:if="${isAdmin == true}" th:href="@{userList}">회원 관리</a>
              <a th:href="@{userMain}" class="list-group-item list-group-item-action">유저 정보 확인</a>
              <a th:href="@{userDelete}" class="list-group-item list-group-item-action">회원 탈퇴</a>
              <a th:href="@{userBoard}" class="list-group-item list-group-item-action">게시물 관리</a>
              <a th:href="@{userReply}" class="list-group-item list-group-item-action">댓글 관리</a>
          </div>
      </div>

      <div aria-hidden="true" aria-labelledby="errorModalLabel" class="modal fade" id="successModal" role="dialog"
           tabindex="-1" th:if="${modal != null}">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="successModalLabel">알림</h5>
                      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <p th:text="${modal}"></p> <!-- 에러 메시지 표시 -->
                  </div>
                  <div class="modal-footer">
                      <a class="btn btn-secondary" href="/user/userMain">닫기</a>
                  </div>
              </div>
          </div>
      </div>

      <div aria-hidden="true" aria-labelledby="errorModalLabel" class="modal fade" id="errorModal" role="dialog"
           tabindex="-1" th:if="${error != null}">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="errorModalLabel">알림</h5>
                      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <p th:text="${error}"></p> <!-- 에러 메시지 표시 -->
                  </div>
                  <div class="modal-footer">
                      <a class="btn btn-secondary" href="/user/userMain">닫기</a>
                  </div>
              </div>
          </div>
      </div>

      <script th:inline="javascript">
          $(document).ready(function () {
              var modal = /*[[${modal}]]*/ null;
              var error = /*[[${error}]]*/ null;

              if (modal) {
                  $('#successModal').modal('show');
              }
              if (error) {
                  $('#errorModal').modal('show');
              }
          });
      </script>

    <!-- 오른쪽 폼 -->
    <div class="col-md-9">

      <h3>유저 정보 확인</h3>

      <form th:action="@{/user/changePwd}" method="post">
<!--        <input type="hidden" name="id" th:value="${id}" />-->
        <div class="form-group">
          <label for="email">이메일</label>
          <input type="email" class="form-control" id="email" th:value="${email}"  readonly>
        </div>

        <div class="form-group">
          <label for="name">이름</label>
          <input type="text" class="form-control" id="name" th:value="${name}" readonly>
        </div>

          <div class="form-group">
              <label for="currentPassword">현재 비밀번호</label>
              <input type="password" class="form-control" id="currentPassword"
                     name="currentPassword" required minlength="4" placeholder="현재 비밀번호를 입력하세요">
          </div>

          <div class="form-group">
              <label for="newPassword">새로운 비밀번호</label>
              <input type="password" class="form-control" id="newPassword"
                     name="newPassword" required minlength="4" placeholder="새로운 비밀번호를 입력하세요">
          </div>

        <button type="submit" class="btn btn-primary">비밀번호 변경</button>
      </form>
    </div>
  </div>
</div>
</div>
<div th:replace="/fragments/footer.html :: fragment-footer"></div>
</body>
</html>